<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>
    <!--<connectionStrings>
      <add name="DBCS" 
            connectionString="server=(local); database=SampleDB; integrated security=true"
           providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <webServices>
        <protocols>
          <add name="HttpGet"/>
        </protocols>
      </webServices>
    </system.web>-->
    <system.webServer>
      <defaultDocument>
        <files>
          <add value="_layout.html" />
        </files>
      </defaultDocument>
      <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
